/*
Note: any .css or .scss files included in the 'styles' directory
will be correctly compiled during `gulp serve` and `gulp`
 */

// Mixins

@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 767px) { @content; }
  }

  @else if $class == sm {
    @media (min-width: 768px) { @content; }
  }

  @else if $class == md {
    @media (min-width: 992px) { @content; }
  }

  @else if $class == lg {
    @media (min-width: 1200px) { @content; }
  }

  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}

 //======== Variables ========


// Udemy Color
$color-danger-darker: #521822;
$color-danger-dark: #992337;
$color-danger: #EC5252;
$color-danger-light: #FF7373;
$color-danger-lighter: #FAEBEB;
$color-green-darker: #004025;
$color-green-dark: #208058;
$color-green: #46C28E;
$color-green-light: #85EDC2;
$color-green-lighter: #E9F7F1;
$color-midnight-dark: #14171C;
$color-midnight: #29303B;
$color-midnight-light: #505763;
$color-midnight-lighter: #686F7A;
$color-midnight-lightest: #A1A7B3;
$color-orange-darker: #4D2000;
$color-orange-dark: #B35A1B;
$color-orange: #F59C49;
$color-orange-light: #FFC48C;
$color-orange-lighter: #fff2e5;
$color-primary-darker: #521822;
$color-primary-dark: #992337;
$color-primary: #EC5252;
$color-primary-light: #FF7373;
$color-primary-lighter: #FAEBEB;
$color-purple-darker: #430E32;
$color-purple-dark: #6E1A52;
$color-purple: #853C6C;
$color-purple-light: #CC87B4;
$color-purple-lighter: #F7EBF3;
$color-rain-dark: #CACBCC;
$color-rain: #DEDFE0;
$color-rain-light: #E8E9EB;
$color-rain-lighter: #F2F3F5;
$color-rain-lightest: #F7F8FA;
$color-secondary-darker: #003440;
$color-secondary-dark: #00576B;
$color-secondary: #007791;
$color-secondary-light: #76C5D6;
$color-secondary-lighter: #E6F2F5;
$color-yellow-darker: #4D3400;
$color-yellow-dark: #9C6D09;
$color-yellow: #F4C150;
$color-yellow-light: #FFE48C;
$color-yellow-lighter: #FAF8E1;
$color-white: #FFF;

//Spacing

$space-xxs:	4px;
$space-xs:	8px;
$space-sm:	16px;
$space-md:	24px;
$space-lg:	32px;
$space-xl:	48px;
$space-xxl:	64px;

//========  Style ========

html, body {
  background-color: $color-white;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  width: 100%;
}

// Toast container

.toast{
  align-items: flex-start;
  background-color: $color-white;
  border-radius: 4px;
  box-shadow: 0 2px 5px 1px rgba(20,23,28,0.15);
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 288px;
  margin: $space-sm;
  padding: $space-sm;
  position: relative;


  &:before {
    background-color: $color-secondary;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    content: '';
    height: 100%;
    left:0;
    position: absolute;
    top:0;
    width: 2px;
  }

  &:hover {
    background-color: $color-rain-lightest;
  }

}

.toast--info {
  &:before {
    background-color: $color-secondary;
  }
}

.toast--success {
  &:before {
    background-color: $color-green;
  }
}

// Toast Image

.toast-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  flex: 0 0 auto;
  margin-right: $space-sm;
}

.toast-image--large {
  background-image: url('../images/apple-logo.png');
  height: $space-xl;
  width: $space-xl;
}

.toast-image--small {
  align-self: center;
  background-image: url('../images/icon-pos.png');
  height: 20px;
  width: 20px;
}

// Toast Content

.toast-content {
  align-self: center;
  flex-grow: 1;
  margin-right: $space-sm;
}

.toast-headline {
  color: $color-midnight;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.4;
  margin: 0;
  padding: 0;
}

.toast-text {
  color: $color-midnight-light;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  margin: $space-xxs 0 0 0;
  padding: 0;
}

// Toast Button
.toast-button {
  background: none;
  border: 1px solid $color-secondary;
  border-radius: 2px;
  box-sizing: content-box;
  color: $color-secondary;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  height: 34px;
  line-height: 1.4;
  margin: $space-xs 0 0 0;
  padding: 0 12px;
  text-align: center;
}

// Toast close
.toast-close {
  background-image: url('../images/icon-close.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  flex: 0 0 auto;
  height: $space-lg;
  width: $space-lg;

}
