/*
Note: any .css or .scss files included in the 'styles' directory
will be correctly compiled during `gulp serve` and `gulp`
 */

// Mixins

@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 767px) { @content; }
  }

  @else if $class == sm {
    @media (min-width: 768px) { @content; }
  }

  @else if $class == md {
    @media (min-width: 992px) { @content; }
  }

  @else if $class == lg {
    @media (min-width: 1200px) { @content; }
  }

  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}

 //======== Variables ========


// Udemy Color
$color-danger-darker: #521822;
$color-danger-dark: #992337;
$color-danger: #EC5252;
$color-danger-light: #FF7373;
$color-danger-lighter: #FAEBEB;
$color-green-darker: #004025;
$color-green-dark: #208058;
$color-green: #46C28E;
$color-green-light: #85EDC2;
$color-green-lighter: #E9F7F1;
$color-midnight-dark: #14171C;
$color-midnight: #29303B;
$color-midnight-light: #505763;
$color-midnight-lighter: #686F7A;
$color-midnight-lightest: #A1A7B3;
$color-orange-darker: #4D2000;
$color-orange-dark: #B35A1B;
$color-orange: #F59C49;
$color-orange-light: #FFC48C;
$color-orange-lighter: #fff2e5;
$color-primary-darker: #521822;
$color-primary-dark: #992337;
$color-primary: #EC5252;
$color-primary-light: #FF7373;
$color-primary-lighter: #FAEBEB;
$color-purple-darker: #430E32;
$color-purple-dark: #6E1A52;
$color-purple: #853C6C;
$color-purple-light: #CC87B4;
$color-purple-lighter: #F7EBF3;
$color-rain-dark: #CACBCC;
$color-rain: #DEDFE0;
$color-rain-light: #E8E9EB;
$color-rain-lighter: #F2F3F5;
$color-rain-lightest: #F7F8FA;
$color-secondary-darker: #003440;
$color-secondary-dark: #00576B;
$color-secondary: #007791;
$color-secondary-light: #76C5D6;
$color-secondary-lighter: #E6F2F5;
$color-yellow-darker: #4D3400;
$color-yellow-dark: #9C6D09;
$color-yellow: #F4C150;
$color-yellow-light: #FFE48C;
$color-yellow-lighter: #FAF8E1;
$color-white: #FFF;

//Spacing

$space-xxs:	4px;
$space-xs:	8px;
$space-sm:	16px;
$space-md:	24px;
$space-lg:	32px;
$space-xl:	48px;
$space-xxl:	64px;

//========  Base Style ========

html, body {
  background-color: $color-midnight;
  box-sizing: border-box;
  display: flex;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  width: 100%;
}

// Udemy Mockup

.udemy-mockup {
  align-self: center;
  background-color: $color-white;
  background-image: url('../images/udemy-mockup.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0px 48px -4px rgba(20, 23, 28, 0.2);
  box-sizing: border-box;
  display: flex;
  height: 600px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  padding: 0 auto;
  max-width: 1008px;
  width: 100%;
}

.udemy-mockup--home {
  background-image: url('../images/udemy-mockup.png');
}

.udemy-mockup--clp{
  background-image: url('../images/udemy-mockup-clp.png');
}

.udemy-mockup--player{
  background-image: url('../images/udemy-mockup-player.png');
}

.udemy-mockup--instructor{
  background-image: url('../images/udemy-mockup-instructor.png');
}

.proto-controls {
  height: auto;
  padding: 8px;
  position: fixed;
  width: 100px;
  z-index: 1000;

}

.proto-button {
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  padding: 12px 16px;
  font-family: monospace;
  font-size: 12px;
  margin-bottom: 8px;
  background-color: black;
  border: none;
  border-radius: 4px;
  width: 100%;

  &:hover {
    color: pink;
  }
}

//========  Messaging Container ========

.messaging-container {
  display: flex;
  width: 100%;
  height: 100%;
}

//========  Messaging Component: Cookie message ========

.cookie-message {
  background-color: $color-secondary;
  bottom: 0;
  box-sizing: border-box;
  color: $color-white;
  font-size: 14px;
  padding: 0 $space-xxl 0 $space-sm;
  position: absolute;
  width: 100%;
  font-weight: 500;

  p {
    width: auto;

  }

  a {
    color: white;
    padding: 1px;
    border-bottom: 1px solid white;
    text-decoration: none;
  }
}

.cookie-message--hidden {
  opacity: 0;
  transform: translateY(300px);
  transition: opacity 200ms 50ms, transform 500ms ease-in-out;
}


.cookie-message-close {
  background-image: url('../images/icon-close-white.png');
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;
  height: $space-lg;
  position: absolute;
  top: $space-xs;
  right: $space-sm;
  width: $space-lg;

}

//========  Messaging Subcontainer: Toasts ========

.toast-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 480px;
  margin-top: 84px; //16px below header
  overflow: hidden;
  padding: $space-sm;
  position: absolute;
  right: 0;
}

.toast-variant--bottom {
  bottom: $space-xl;
  flex-direction: column-reverse;
  margin-top: 0;
}


//========  Toast Component ========

.toast {
  align-items: flex-start;
  background-color: $color-white;
  border-radius: 4px;
  box-shadow: 0 2px 5px 1px rgba(20,23,28,0.15);
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0 0 $space-sm 0;
  padding: $space-sm;
  position: relative;
  transition: opacity 200ms 50ms, transform 250ms ease-in-out;
  width: 288px;


  &:before {
    background-color: $color-secondary;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    content: '';
    height: 100%;
    left:0;
    position: absolute;
    top:0;
    width: 3px;
  }

  &:hover {
    background-color: $color-rain-lightest;
  }

  .toast-variant--bottom & {
    margin: $space-sm 0 0 0;
  }

}

// Toast Image Styles

.toast-image {
  background-color: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  flex: 0 0 auto;
  margin-right: $space-sm;
}

.toast-image--large {
  background-image: url('../images/apple-logo.png');
  height: $space-xl;
  width: $space-xl;
}

.toast-image--small {
  align-self: center;
  background-image: url('../images/icon-pos.png');
  height: 20px;
  width: 20px;

  .toast-variant--compact & {
    height: $space-sm;
    width: $space-sm;
  }
}

// Toast Content

.toast-content {
  align-self: center;
  flex-grow: 1;
  margin-right: $space-sm;
}

.toast-headline {
  color: $color-midnight;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.4;
  margin: 0;
  padding: 0;

  .toast-variant--compact &{
    font-size: 14px;
  }

}

.toast-text {
  color: $color-midnight-light;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  margin: $space-xxs 0 0 0;
  padding: 0;

  .toast-variant--compact &{
    font-size: 12px;
  }

}

// Toast Button
.toast-button {
  background: none;
  border: 1px solid $color-secondary;
  border-radius: 2px;
  box-sizing: content-box;
  color: $color-secondary;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  height: 34px;
  line-height: 1.4;
  margin: $space-xs 0 0 0;
  padding: 0 12px;
  text-align: center;

  .toast-variant--compact &{
    font-size: 12px;
    padding: 0 8px;
    height: 24px;
  }

}

.toast-button-secondary {
  border: none;
}

// Toast close
.toast-close {
  background-image: url('../images/icon-close.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  flex: 0 0 auto;
  height: $space-lg;
  width: $space-lg;
}




// ======= Dismiss toast classes

.toast--hidden {
  opacity: 0;
  transform: translateX(300px);
  transition: opacity 200ms 50ms, transform 350ms ease-in-out;
}

.toast--removed {
  display: none;
}


//===== Toast variants

// Success variant
.toast--success {
  &:before {
    background-color: $color-green;
  }
}

// Critical danger variant
.toast--danger {
  background-color: $color-danger-lighter;
  &:hover {
    background-color: $color-danger-lighter;
  }
  &:before {
    background-color: $color-primary;
  }
  .toast-button {
    border-color: $color-danger-dark;
    color: $color-danger-dark;
  }
  .toast-image {
    background-image: url('../images/icon-danger.png');
  }
}

// Legal terms variant
.toast--terms {
  //background-color: $color-danger-lighter;
  &:hover {
    //background-color: $color-danger-lighter;
  }
  &:before {
    background-color: $color-primary;
  }

  .toast-button--primary {
    //border-color: $color-danger-dark;
    background-color: $color-secondary;
    color: $color-white;
    font-size: 14px;
    padding: 4px 16px;
  }
  .toast-button--secondary {
    border: none;
  }
  .toast-image {
    background-image: url('../images/udemy-symbol.png');
  }
}
